body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 1em;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.data,
.weather,
ul li {
    list-style-type: none;
    padding: .5rem;
}

.bold {
    font-weight: bold;
}

.data,
.weather {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.data h2,
.weather h2 {
    background-color: #336633;
    color: white;
    margin: 0;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.data ul,
.weather ul {
    padding: 25px;
}

.data {
    top: 20%;
    left: 5%;
    width: 250px;
}

.weather {
    bottom: 20%;
    right: 5%;
    width: 250px;
}

li {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 769px) {
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1rem;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}