* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #4a148c;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul h1 {
    color: white;
}


nav ul li a:hover {
    background-color: #6a1b9a;
    border-radius: 5px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.image-grid figure {
    margin: 0;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

}

nav ul li a.active {
    background-color: #7b1fa2;
    color: white;
    border-radius: 5px;
}

/* Hide the menu by default on mobile and show the hamburger icon */
.menu-toggle {
    display: none;
    /* Default hidden for desktop */
    background-color: #4a148c;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #4a148c;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }

    .menu-toggle {
        display: block;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        padding: 10px 0;
    }
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}
footer {
    margin-bottom: 0;
    padding-bottom: 0;
}